#!/usr/bin/env bash

# Easier navigation.
alias ..="cd .."
alias ...="cd ../.."

# Better GitHub integration.
alias git="hub"

# Shortcuts.
alias g="git"
alias h="history"
alias vi="vim"

# Find outdated dependencies.
alias outdated="composer outdated --outdated; npm outdated"

# Laravel Artisan.
alias art="php artisan"

# PHP Composer.
alias dump="composer dump-autoload"
alias fresh="rm -rf vendor composer.lock; composer install"
alias optimize="composer update --prefer-dist --no-dev; composer dump-autoload --optimize"
alias phpunit="./vendor/bin/phpunit"

# List all files in long format, including dotfiles.
alias l="ls -Glah"

# Enable aliases to be sudo’ed.
alias sudo="sudo "

# Always enable colored `grep` output.
alias grep="grep --color=auto"

# IP addresses.
alias ip="dig +short myip.opendns.com @resolver1.opendns.com".
alias localip="ipconfig getifaddr en0"

# Show/hide hidden files in Finder.
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"
